---
BasedOnStyle: Google
IndentWidth: '4'
AccessModifierOffset: '-2'
ContinuationIndentWidth: '8'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'false'
MaxEmptyLinesToKeep: '3'
PenaltyExcessCharacter: '10'
PointerAlignment: Right
Standard: Cpp11

...
